*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: start;
    align-items: center;
    min-height: 100vh;
    background: url('./img/background.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}
.warapper{
    position: relative;
    width: 400px;
    height: auto;
    margin-left: 100px;
    background: transparent;
    border: 2px solid rgba(225, 225, 225, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 2s height ease;
    overflow: hidden;
}

.warapper.active{
    height: 600px;
}

.warapper .form-box{
    width: 100%;
    padding: 40px;
}
.warapper .form-box.login{
    transition: transform .18s ease;
    transform: translateX(0);
}
.warapper.active .form-box.login{
    transition: none;
    transform: translateX(-400px);
}
.warapper .form-box.register{
    position: absolute;
    transition: none;
    transform: translateX(400px);
}

.warapper.active .form-box.register{
    transition: transform .18s ease;
    transform: translateX(0);
}

.form-box h2{
    font-size: 2em;
    color: #000;
}

.inforUser{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10px;
}
.inforUser .fn{
    margin-right: 5px;
}
.inforUser .ln{
    margin-left: 5px;
}
.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #000;
    margin: 30px 0;
}
.input-box label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #000;
    font-weight: 500;
    pointer-events: none;
}
.input-box input:focus~label,
.input-box input:valid~label{
    top: -5px;
}
.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #000;
    font-weight: 600;
    padding: 0 35px 0 5px;
}
.input-box .icon{
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    line-height: 57px;
}
.remeber-forgot{
    font-size: .9em;
    color: #000;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}
.remeber-forgot label input{
    accent-color: #000;
    margin-right: 3px;
}
.remeber-forgot a{
    color: #000;
    text-decoration: none;
}
.remeber-forgot a:hover{
    text-decoration: none;
}
.btn{
    width: 100%;
    height: 45px;
    font-weight: 500;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
}
.login-register{
    font-size: .9em;
    color: #000;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}
.login-register p a{
    font-weight: 600;
    text-decoration: none;
}

.form-box hr{
    border: 0;
    height: 1px;
    background: #c2c2c2;
    margin: 5px;
}
.form-box .or{
    display: block;
    width: 40px;
    margin: auto;
    background-color: transparent;
    font-size: 14px;
    margin-top: -16px;
}

.signup-social{
    padding: 10px;
    border-radius: 30px;
    display: block;
    width: 100%;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    border: 0;
    background-color: rgb(244, 47, 3);
    display: flex;
    align-items: center;
    cursor: pointer;
    outline: none;
    /* box-shadow: 0 5px  #f42f0370; */
}
.signup-social img{
    width: 35px;
    height: 30px;
    border-radius: 30px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.signup-social span{
    display: block;
    margin: 0 auto;
}
.signup-social:hover{
    background-color: rgb(255, 51, 0);
}