:root {

    /**
     * colors
     */
  
    --bright-yellow-crayola: hsl(40, 100%, 50%);
    --medium-turquoise: hsl(172, 48%, 59%);
    --silver-chalice: hsl(0, 0%, 70%);
    --eerie-black-1: hsl(0, 0%, 13%);
    --eerie-black-2: hsl(0, 0%, 15%);
    --eerie-black-3: hsl(228, 10%, 10%);
    --raisin-black: hsl(220, 8%, 14%);
    --granite-gray: hsl(0, 0%, 38%);
    --sonic-silver: hsl(0, 0%, 47%);
    --pistachio_50: hsla(86, 45%, 54%, 0.5);
    --baby-powder: hsl(86, 41%, 97%);
    --light-gray: hsl(0, 0%, 80%);
    --pistachio: hsl(86, 45%, 54%);
    --platinum: hsl(0, 0%, 91%);
    --cultured: hsl(0, 0%, 94%);
    --white-60: hsla(0, 0%, 100%, 0.6);
    --white_50: hsla(0, 0%, 100%, 0.5);
    --white_10: hsla(0, 0%, 100%, 0.1);
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
    --jet: hsl(0, 0%, 18%);
  
    /**
     * typography
     */
  
    --ff-oswald: 'Oswald', sans-serif;
    --ff-inter: 'Inter', sans-serif;
    --ff-roboto: 'Roboto', sans-serif;
  
    --fs-1: 13rem;
    --fs-2: 4rem;
    --fs-3: 3.5rem;
    --fs-4: 3rem;
    --fs-5: 2.4rem;
    --fs-6: 2.2rem;
    --fs-7: 2rem;
    --fs-8: 1.8rem;
    --fs-9: 1.5rem;
    --fs-10: 1.4rem;
  
    --fw-300: 300;
    --fw-500: 500;
    --fw-600: 600;
    --fw-700: 700;
  
    /**
     * spacing
     */
  
    --section-padding: 80px;
  
    /**
     * shadow
     */
  
    --card-shadow: 0 5px 20px -8px hsla(0, 0%, 0%, 0.15);
  
    /**
     * transition
     */
  
    --transition-1: 0.05s ease;
    --transition-2: 0.25s ease;
    --cubic-in: cubic-bezier(0.51, 0.03, 0.64, 0.28);
    --cubic-out: cubic-bezier(0.33, 0.85, 0.4, 0.96);
  
  }

  /*-----------------------------------*\
    #RESET
  \*-----------------------------------*/
  
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  li { list-style: none; }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  a,
  img,
  span,
  time,
  input,
  strong,
  button,
  ion-icon { display: block; }
  
  img { height: auto; }
  
  ion-icon { pointer-events: none; }
  
  input,
  button {
    background: none;
    border: none;
    font: inherit;
  }
  
  input { width: 100%; }
  
  button { cursor: pointer; }
  
  :focus-visible { outline-offset: 4px; }
  
  ::selection { background-color: var(--white_10); }
  
  html {
    font-family: var(--ff-roboto);
    color: var(--granite-gray);
    font-size: 10px;
    scroll-behavior: smooth;
  }
  
  body {
    background-color: var(--white);
    font-size: 1.6rem;
    line-height: 1.8;
    overflow-x: hidden;
  }
  
  ::-webkit-scrollbar { width: 13px; }
  
  ::-webkit-scrollbar-track { background-color: hsl(0, 0%, 95%); }
  
  ::-webkit-scrollbar-thumb { background-color: var(--pistachio); }
  /*-----------------------------------*\
    #REUSED STYLE
  \*-----------------------------------*/
  
  .container { padding-inline: 15px; }
  
  .section-subtitle {
    color: var(--color, var(--pistachio));
    font-size: var(--fs, var(--fs-8));
    font-family: var(--ff, var(--ff-roboto));
    font-weight: var(--fw-600);
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .h1,
  .h2 { font-weight: var(--fw-300); }
  
  .h2,
  .h3 { line-height: 1.6; }
  
  .h2 {
    font-size: var(--fs-3);
    color: var(--eerie-black-2);
  }
  
  .h3 {
    font-size: var(--fs-5);
    color: var(--eerie-black-2);
  }
  
  .h4 {
    color: var(--white);
    font-size: var(--fs-6);
  }
  
  .btn {
    position: relative;
    background-color: var(--btn-bg, var(--pistachio));
    color: var(--white);
    font-weight: var(--fw-600);
    padding: 12px 32px;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: var(--transition-2);
  }
  
  .btn ion-icon {
    --ionicon-stroke-width: 55px;
    font-size: 1.8rem;
  }
  
  .btn:not(.btn-outline)::after {
    content: "";
    position: absolute;
    inset: 0;
    border: 1px solid var(--btn-bg, var(--pistachio));
    transform: translate(5px, 5px);
    transition: var(--transition-2);
  }
  
  .btn:is(:hover, :focus)::after { transform: translate(0, 0); }
  
  .btn-secondary { --btn-bg: var(--black); }
  
  .btn-secondary:is(:hover, :focus) { --btn-bg: var(--pistachio); }
  
  .btn-outline {
    border: 2px solid var(--white);
    background-color: transparent;
  }
  
  .btn-white {
    --btn-bg: var(--platinum);
    color: var(--black);
  }
  
  
  .w-100 { width: 100%; }
  
  .section-text { line-height: 2; }
  
  .img-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  /*-----------------------------------*\
    #HEADER
  \*-----------------------------------*/
  
  .lang-switch,
  .header-action { display: none; }
  
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    padding-block: 18px;
    z-index: 4;
  }
  
  .header::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 140px);
    height: 1px;
    background-color: var(--white_10);
  }
  
  .header.active {
    background-color: var(--eerie-black-1);
    box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.8);
  }
  
  .header.active::after { display: none; }
  
  .header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
  }
  
  .logo {
    color: var(--white);
    font-family: var(--ff-oswald);
    font-size: 3.2rem;
    text-transform: uppercase;
  }
  
  .nav-open-btn {
    color: var(--white);
    font-size: 3.8rem;
  }
  
  .navbar {
    position: fixed;
    background-color: var(--eerie-black-1);
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    outline: 1px solid var(--white_10);
    display: flex;
    flex-direction: column;
    z-index: 1;
    visibility: hidden;
    transition: 0.25s var(--cubic-in);
  }
  
  .navbar.active {
    transform: translateY(-100%);
    visibility: visible;
    transition: 0.5s var(--cubic-out);
  }
  
  .nav-close-btn {
    color: var(--white);
    font-size: 2.4rem;
    position: absolute;
    top: 15px;
    right: 15px;
  }
  
  .nav-close-btn ion-icon { --ionicon-stroke-width: 60px; }
  
  .navbar > .logo {
    font-size: 4rem;
    width: max-content;
    margin-inline: auto;
    margin-block-start: 50px;
  }
  
  .navbar-list {
    max-width: 400px;
    width: 100%;
    margin: auto;
    padding-inline: 10px;
    opacity: 0;
    transition: 0.5s ease;
    transition-delay: 0s;
  }
  
  .navbar.active .navbar-list {
    opacity: 1;
    transition-delay: 0.25s;
  }
  
  .navbar-link {
    color: var(--white);
    font-size: var(--fs-9);
    font-weight: var(--fw-500);
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 10px 15px;
    padding-block: 8px;
    transition: var(--transition-1);
  }
  
  .navbar-link:is(:hover, :focus) { background-color: var(--pistachio); }
  
  
  
  
  
  /*-----------------------------------*\
    #HERO
  \*-----------------------------------*/
  
  .hero {
    background-color: var(--eerie-black-1);
    color: var(--white);
    min-height: 250px;
    padding-block: 120px 60px;
    display: grid;
    align-items: center;
  }
  
  .hero .section-subtitle {
    --color: var(--white);
    --ff: var(--ff-inter);
    --fs: var(--fs-7);
  }
  
  .hero-title {
    font-size: var(--fs-2);
    margin-block: 30px;
    line-height: 1.2;
  }
  
  .hero-text {
    font-family: var(--ff-inter);
    font-size: var(--fs-8);
    letter-spacing: -1px;
    max-width: 50ch;
    margin-block-end: 30px;
  }
  
  
  
  
  
  /*-----------------------------------*\
    #ABOUT
  \*-----------------------------------*/
  
  .container_product{
    width: 1000px;
    margin: auto;
    max-width: 100vw;
    text-align: center;
    padding-bottom: 80px;
    transition: transform .5s;
}
svg{
    width: 30px;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
.icon-cart{
    position: relative;
    color: #fff;
}
.icon-cart span{
    position: absolute;
    background-color: red;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #fff;
    top: 50%;
    right: -20px;
}
.title{
    font-size: xx-large;
}
.listProduct .item img{
    width: 100%;
    filter: drop-shadow(0 50px 20px #0009);
    height: 180px;
}
.listProduct{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.listProduct .item{
    background-color: #EEEEE6;
    padding: 14px;
    border-radius: 20px;
}
.listProduct .item h2{
    font-weight: 500;
    font-size: large;
}
.listProduct .item .price{
    letter-spacing: 2px;
    font-size: small;
}
.listProduct .item .button1{
    
    width: 105px;
    display: inline-block;
}
.listProduct .item .button1 button{
    background-color: #353432;
    color: #eee;
    border: none;
    padding: 5px 10px;
    margin-top: 10px;
    border-radius: 20px;
}
/* cart */
.cartTab{
    width: 400px;
    background-color: #353432;
    color: #eee;
    position: fixed;
    top: 0;
    right: -400px;
    bottom: 0;
    display: grid;
    grid-template-rows: 70px 1fr 70px;
    transition: .5s;
}
body.showCart .cartTab{
    right: 0;
}
body.showCart .container{
    transform: translateX(-250px);
}
.cartTab h1{
    padding: 20px;
    margin: 0;
    font-weight: 300;
}
.cartTab .btn{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.cartTab button{
    background-color: #E8BC0E;
    border: none;
    font-family: Poppins;
    font-weight: 500;
    cursor: pointer;
}
.cartTab .close{
    background-color: #eee;
}
.listCart .item img{
    width: 100%;
}
.listCart .item{
    display: grid;
    grid-template-columns: 70px 150px 50px 1fr;
    gap: 10px;
    text-align: center;
    align-items: center;
}
.listCart .quantity span{
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: #eee;
    border-radius: 50%;
    color: #555;
    cursor: pointer;
}
.listCart .quantity span:nth-child(2){
    background-color: transparent;
    color: #eee;
    cursor: auto;
}
.listCart .item:nth-child(even){
    background-color: #eee1;
}
.listCart{
    overflow: auto;
}
.listCart::-webkit-scrollbar{
    width: 0;
}
@media only screen and (max-width: 992px) {
    .listProduct{
        grid-template-columns: repeat(3, 1fr);
    }
}


/* mobile */
@media only screen and (max-width: 768px) {
    .listProduct{
        grid-template-columns: repeat(2, 1fr);
    }
}
/* --------------------------------------------------- */
  
  .about-banner {
    position: relative;
    max-width: max-content;
    margin-block-end: 30px;
  }
  
  .deco-title {
    font-size: var(--fs-1);
    font-weight: var(--fw-700);
    white-space: nowrap;
    line-height: 0.5;
    color: transparent;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px var(--light-gray);
    transform-origin: top left;
    transform: rotate(0.25turn);
    position: absolute;
    top: 55%;
    left: 100%;
    z-index: -1;
  }
  
  .deco-img {
    position: absolute;
    top: -40px;
    left: 0;
    z-index: -1;
  }
  
  .about-img {
    max-width: max-content;
    margin-block-end: 30px;
  }
  
  .tab-nav {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-block: 25px 35px;
  }
  
  .tab-btn {
    background-color: var(--platinum);
    color: var(--granite-gray);
    font-size: var(--fs-8);
    font-weight: var(--fw-500);
    padding: 10px 32px;
  }
  
  .tab-btn.active {
    background-color: var(--pistachio);
    color: var(--white);
  }
  
  .tab-list { margin-block: 25px 50px; }
  
  .tab-item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-block: 5px;
  }
  
  .tab-item .item-icon {
    font-size: 3rem;
    color: var(--pistachio);
  }
  
  .tab-text {
    color: var(--eerie-black-2);
    font-size: var(--fs-8);
    font-weight: var(--fw-500);
  }


  .footer {
    background-color: var(--raisin-black);
    color: var(--white);
    font-family: var(--ff-inter);
    padding-block: 40px;
  }
  
  .footer .container {
    margin-inline: 15px;
    background-color: var(--eerie-black-3);
    padding: 20px;
  }
  
  .footer-list,
  .copyright {
    max-width: max-content;
    margin-inline: auto;
  }
  
  .footer-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px 40px;
    margin-block-end: 15px;
  }
  
  .footer-link,
  .copyright-link {
    text-decoration: underline;
    transition: var(--transition-1);
  }
  
  .footer-link {  color: var(--white_50); }
  
  :is(.footer-link, .copyright-link):is(:hover, :focus) { 
    background-color: hsla(0, 0%, 100%, 0.05);
  }
  
  .copyright { text-align: center; }
  
  .copyright-link { display: inline-block; }
  
  
  
  
  
  /*-----------------------------------*\
    #MEDIA QUERIES
  \*-----------------------------------*/
  
  /**
   * responsive for larger than 450px screen
   */
  
  @media (min-width: 450px) {
  
    /**
     * CUSTOM PROPERTY
     */
  
    :root {
  
      /**
       * typography
       */
  
      --fs-3: 4rem;
  
    }
  
  
  
    /**
     * CTA
     */
  
    .cta { --fs-4: 4.1rem; }
  
  }
  
  
  
  
  
  /**
   * responsive for larger than 580px screen
   */
  
  @media (min-width: 580px) {
  
    /**
     * CUSTOM PROPERTY
     */
  
    :root {
  
      /**
       * typography
       */
  
      --fs-2: 5.5rem;
  
    }
  
  
  
    /**
     * DONATE
     */
  
    .donate-card {
      position: relative;
      padding-block-end: 150px;
      box-shadow: none;
    }
  
    .donate-card .card-content {
      position: absolute;
      width: 85%;
      bottom: 0;
      right: 0;
      border-radius: 4px;
      box-shadow: var(--card-shadow);
    }
  
    .donate-card .card-title { --fs-5: 2.4rem; }
  
  
  
    /**
     * EVENT
     */
  
    .event-card {
      display: flex;
      align-items: flex-start;
      gap: 30px;
    }
  
    .event-card .card-subtitle { margin-block-start: 0; }
  
    .event-card .card-title {
      font-size: var(--fs-5);
      line-height: 1.4;
    }
  
  
  
    /**
     * INSTA POST
     */
  
    .insta-post-item { min-width: 45%; }
  
  }
  
  
  
  
  
  /**
   * responsive for larger than 768px screen
   */
  
  @media (min-width: 768px) {
  
    /**
     * FEATURES, SERVICE
     */
  
    .features-list,
    .service-list { grid-template-columns: 1fr 1fr; }
  
  
  
    /**
     * ABOUT
     */
  
    .banner-row {
      display: flex;
      gap: 20px;
    }
  
    .deco-title {
      top: 10%;
      left: calc(100% + 40px);
    }
  
    .about-img { margin-block-end: 0; }
  
    .about-img:first-child { margin-block-end: 30px; }
  
  
  
    /**
     * TESTIMONIALS
     */
  
    .testi-card {
      display: flex;
      align-items: flex-start;
      gap: 30px;
    }
  
    .testi-text { margin-block-start: 0; }
  
  
  
    /**
     * INSTA POST
     */
  
    .insta-post-item { min-width: 32%; }
  
  
  
    /**
     * FOOTER
     */
  
    .footer .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 40px;
      padding-inline: 40px;
    }
  
    .footer-list,
    .copyright { margin-inline: 0; }
  
    .footer-list { margin-block-end: 0; }
  
  }
  
  @media (min-width: 992px) {

    :root {

      --fs-2: 7.5rem;
  
    }
    .header { transition: var(--transition-2); }
  
    .header-action {
      display: flex;
      align-items: center;
      gap: 50px;
    }
    
    .search{
      position: relative;
      width: 60px;
      height: 60px;
      background: #fff;
      border-radius: 60px;
      transition: 0.5s;
      overflow: hidden;
    }
    .search.active{
      width: 360px;
    }
    .icon-search{
      position: absolute;
      top: 0;
      left: 0;
      width: 60px;
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 100;
      cursor: pointer;
    }
    .search .icon-search::before{
      content: "";
      position: absolute;
      width: 15px;
      height: 15px;
      border: 3px solid #287dfc;
      border-radius: 50%;
      transform: translate(-4px, -4px)
    }
    .search .icon-search::after{
      content: '';
      position: absolute;
      width: 3px;
      height: 12px;
      background: #287dfc ;
      transform: translate(4px, 4px) rotate(315deg);
    }
    .search .input-search{
      position: relative;
      width: 300px;
      height: 60px;
      left: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      
    }
    .search .input-search input{
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      border: none;
      outline: none;
      font-size: 18px;
      padding: 10px 10px;
    }
    
    .search .clear::after{
      position: absolute;
      content: "";
      width: 1px;
      height: 15px;
      background: #999;
      transform: rotate(315deg);
    }
    .hero {
      background-image: url("./img/bgchim.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: left;
      min-height: 400px;
    }

    .features { padding-block-start: var(--section-padding); }
  
    .features-list { grid-template-columns: repeat(4, 1fr); }

    .banner-col { width: 50%; }
  
    .about-img { max-width: 100%; }
  
    .about-img-2 {
      min-width: 120%;
      margin-inline-start: -20%;
    }
  
    .about-img-3 { max-width: 90%; }
  
    .about .container {
      display: grid;
      grid-template-columns: 1fr 0.8fr;
      align-items: flex-start;
      gap: 120px;
    }

    .cta .container {
      display: grid;
      grid-template-columns: 1fr 0.7fr;
      gap: 30px;
    }
  
    .cta-content { margin-block-end: 0; }
  
    .cta .section-title { --fs-4: 5rem; }

    .service-list { grid-template-columns: repeat(4, 1fr); }

    .donate-list {
      grid-template-columns: 1fr 1fr;
      column-gap: 30px;
    }

    .testi {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  
    .testi-content { padding-inline: 30px 50px; }

    .event-card .wrapper {
      display: flex;
      flex-grow: 1;
      justify-content: space-between;
      align-items: center;
    }
  
    .event-card .card-text { margin-block-end: 0; }

    .insta-post-item { min-width: 24%; }
  
  }

  @media (min-width: 1200px) {

    :root {
      --fs-3: 4.4rem;
  
    }
    .container {
      max-width: 1400px;
      width: 100%;
      margin-inline: auto;
      padding-inline: 30px;
    }
  
    .section-title { line-height: 1.2; }
    .nav-open-btn,
    .nav-close-btn,
    .navbar > .logo,
    .navbar-link > ion-icon { display: none; }
  
    .header { padding-block: 15px; }
  
    .lang-switch {
      position: relative;
      display: block;
      background-color: transparent;
      border: none;
      color: var(--white);
      font: inherit;
      font-size: var(--fs-8);
      font-weight: var(--fw-600);
    }
  
    .lang-switch option { color: var(--eerie-black-1); }
  
    .navbar {
      all: unset;
      margin-inline: auto;
    }
  
    .navbar-list {
      all: unset;
      display: flex;
      gap: 10px;
    }
  
    .navbar-link {
      font-size: var(--fs-8);
      font-weight: var(--fw-600);
      text-transform: capitalize;
      transition: var(--transition-2);
    }
  
    .navbar-link:is(:hover, :focus) { background: none; }
  
    .navbar-list:hover .navbar-link:not(:hover) { color: var(--white-60); }
  
  
  
    /**
     * HERO
     */
  
    .hero {
      /* padding-block: 200px 325px; */
      background-position: center;
    }
    .features {
      padding-block-start: 0;
      margin-block-start: -185px;
      background-color: transparent;
    }
  
  
  
    /**
     * ABOUT
     */
  
    .deco-img { left: -35px; }
  
  
  
    /**
     * DONATE
     */
  
    .donate-card { padding-inline-end: 120px; }
  
    .donate-card .card-content { width: 65%; }
  
  
  
    /**
     * PARTNER
     */
  
    .partner .container { justify-content: space-evenly; }
  
  
  
    /**
     * INSTA POST
     */
  
    .insta-post-item { min-width: 20%; }
  
  
  
    /**
     * FOOTER
     */
  
    .footer .container {
      margin-inline: 30px;
      width: auto;
    }
  
  }